// @charset "utf-8";


// /* =Reset default browser CSS.
// Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
// -------------------------------------------------------------- */
// html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}
// :focus {outline: 0;}

// ol, ul {list-style: none;}
// table {border-collapse: separate;border-spacing: 0;}
// caption, th, td {font-weight: normal;text-align: left;}
// blockquote:before, blockquote:after,q:before, q:after {content: "";}
// blockquote, q {quotes: "" "";}
// a img{border: 0;}
// figure{margin:0}
// article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
// /* -------------------------------------------------------------- */

// body{
// color:#555;
// font:12px verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
// line-height:1.5;
// border-top:5px solid #d75800;
// background:#f4f4f4;
// -webkit-text-size-adjust: none;
// }

.first_brock{
  background: url("../images/first.jpg");
  height: 450px;

}

.first_brock h1{
  padding-top:150px ;
  text-align: center;
}

.top_search{
  padding-top:50px ;
 text-align: center;
}

#wrapper{
  margin:0 auto;
  padding:0 1%;
  width:98%;
  position:relative;

  }
  
  .inner{
  margin:0 auto;
  width:100%;
  }
  

  .gridWrapper{
    margin-top: 20px;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: inherit;
    }
   
    * html .gridWrapper{height:1%;}
      
    .grid{
      margin: 20px;
    width: 240px;
    height: 300px;
    float:left;
    background:#7a6d58;
 
    }
    
    .grid h3{
    padding:10px 0;
    font-weight:bold;
    color:#fff;
    background:#7a6d58;
    text-align:center;
    }
    
    .grid p{
    padding:5px 10px;
    }
    
    .grid p.img{
    padding:0;
    width: 100%;
    margin-right: 20px;
    height: 200px;
    }
    
    .readmore{
      clear:both;
      display: flex;
      align-items: center;
    }

    .grid li{
      list-style: none; 
    }

    .grid ul {
      padding: 5px;
      display: flex;
      justify-content: space-between;
    }

    .like_cun{
      color:white;
    }
    
    
    
  
    
    
    
  