@charset "UTF-8";
body{
    margin: 10;
    padding: 10;
    font-family: "ヒイラギノ角ゴ proN W3", "Miragino Kaku Gothic ProN","メイリオ","MS Pゴシック","MS PGothic", sans-serif;
}
.main-contents h1{
    padding: 5px 0 5px 30px;
    font-size: 32px;
    color: brown;
}