
<form class="edit_tweet" id="edit_tweet_3" action="/tweets/3" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="Wm/CmCt3omkGpeNaaODdBuIn6ALAfPb/mTqYD+81JPRilOpKk/yF1xhd+r5MWlBaoAndFQgqcXYMXQwFPmx0yQ==">
<div class="field">

  <label for="tweet_body">Body</label>
  <input size="140" type="text" value="おため" name="tweet[body]" id="tweet_body">
</div>
<input type="submit" name="commit" value="Tweetする" data-disable-with="Tweetする">
</form>