/*下からフェードイン*/
.fade-in-bottom {
    opacity: 0;
    animation-name: fadein-bottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
 }
 @keyframes fadein-bottom {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }