<%= stylesheet_link_tag 'design1', :media => "all" %>
<div class="all-container">

<div class="top">
<div class="right-container">
<div class="red">

</div>

</div>

<div class="yellow">
</div>
</div>
<div class="left-container">
<div class="pink">
</div>
</div>
</div>
<div class="botom">
<div class="black">
</div>
</div>


</div>

